body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #B6e6bd;
  margin: 0;
}

.content-container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid  black; */
  margin: 0 auto;
  margin-bottom: 2em;
}

.logo {
  height: 70px;
  width: 70px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.title {
  font-family: 'Alegreya', serif;
  font-size: 2em;
  margin-top: 0;
  line-height: 0.35em;
  margin-bottom: 0;
}

.slogan {
  max-width: 160px;
  text-align: center;
}

.bolder {
  font-weight: 700;
}

.login-box {
  max-width: 350px;
  background-color: #F1F0CF;
  padding: 1em 2em 2em 2em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 1em;
}

.box-title {
  text-align: center;
  margin-top: 0;
  font-weight: 400;
  font-size: 1em;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.35em;
}

.header-container {
  font-family: 'Alegreya', serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding-left: 0.3em;
}

.sandbag-logo {
  margin-right: 1em;
  max-height: 2em;
}

.small-title {
  margin-right: 0.5em;
  margin-left: auto;
  font-size: 1.2em;
  padding: 0;
}

.circle {
  background-color: #F0C9C9;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}

.handicap-large {
  font-size: 3em;
}

.new-round {
  width: 50px;
  height: 50px;
  background-color: #F1F0CF;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  margin: 0 auto;
  padding-bottom: 0;
  margin-top: 6em;
}

.plus {
  font-size: 2em;
}

.new-round-text {
  margin-top: 0;
}

.home-slogan {
  margin-top: 3em;
}

.player-profile {
  display: flex;
  align-items: center;
  margin-left: 0.9em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.pic {
  height: 50px;
  width: 50px;
  background-color: #F0C9C9;
  border-radius: 50%;
  margin-right: 0.9em;
}

.menu-pic {
  max-width: 50px;
}

.name {
  font-weight: 700;
}

.green-bold {
  font-weight: 700;
  color: #4BAEA0;
}

.account-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #4BAEA0;
  margin-top: 1em;
  margin-bottom: 2em;
}

.smile-face {
  max-width: 70px;
}

.grid-container {
  margin: 0 2em;
}

.course-hc-circle {
  background-color: #4BAEA0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 0.75em ;
}

.course-hc-text {
  color: #ffffff;
  font-weight: 700;
}

.course-hc-title {
  text-align: center;
  margin-bottom: 0.25em;
  margin-top: 0.5em;
}

.checkboxes {
  display: flex;
  margin: 0 auto;
}

.scores-container {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.single-score {
  display: flex;
  align-items: center;
  background: rgb(240,201,201);
  background: linear-gradient(100deg, rgba(240,201,201,1) 0%, rgba(241,211,197,0.8505996148459384) 100%);
  padding: 0 1em;
  border-radius: 0.5em;
  margin-bottom: 0.15em;
}

.date {
  margin-right: 1em;
}

.course {
  margin-left: 1em;
  margin-right: 1em;
}

.round-summary {
  margin-top: 0;
  margin-bottom: 0.1em;
  font-family: 'Source Sans Pro', sans-serif;
}

.login-text {
  font-size: 1em;
  text-align: center;
  max-width: 250px;
}